/** Common mobile (screen XS, SM) styles **/
@media (max-width: $screen-xs-max) {
  .container .content {
    margin-top: 20px;
  }

  .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-links > li > a {
    padding: 10px;
    font-size: 12px;
    margin-right: 3px;

    .badge {
      display: none;
    }
  }

  .referenced-users {
    margin-right: 0;
  }

  .issues-details-filters,
  .dash-projects-filters,
  .check-all-holder {
    display: none;
  }

  .rss-btn {
    display: none !important;
  }

  .project-home-links {
    display: none;
  }

  .project-avatar {
    display: none;
  }

  .project-home-panel {
    padding-left: 0 !important;

    .project-avatar {
      display: block;
    }

    .project-home-desc {
      font-size: 21px;
    }

    .project-repo-buttons,
    .git-clone-holder {
      display: none;
    }
  }

  .project-stats {
    display: none;
  }

  .container .title {
    padding-left: 15px !important;
  }

  .issue-info, .merge-request-info {
    display: none;
  }

  .issue-details {
    .creator,
    .page-title .btn-close {
      display: none;
    }
  }

  %ul.notes .note-role, .note-actions {
    display: none;
  }

  .nav-links, .nav-links {
    li a {
      font-size: 14px;
      padding: 19px 10px;
    }
  }

  .activity-filter-block {
    display: none;
  }

  .projects-search-form {
    .btn {
      display: none;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .page-with-sidebar .content-wrapper {
    padding: 0;
    padding-top: 1px;
  }

  .issues-filters {
    .milestone-filter, .labels-filter {
      display: none;
    }
  }

  .page-title {
    .note_created_ago, .new-issue-link {
      display: none;
    }
  }

  .issue_edited_ago, .note_edited_ago {
    display: none;
  }

  aside {
    display: none;
  }

  .show-aside {
    display: block !important;
  }
}

.show-aside {
  display: none;
  position: fixed;
  right: 0px;
  top: 30%;
  padding: 5px 15px;
  background: #EEE;
  font-size: 20px;
  color: #777;
  z-index: 100;
  @include box-shadow(0 1px 2px #DDD);
}
